<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.clientInformation.dao.ClientInformationDao">
    <!--修改邀请码-->
    <update id="updateClientInvite" parameterType="com.xzsd.app.clientInformation.entity.ClientInformationInfo">
        update t_client
        set invite_code = #{inviteCode}
        where client_id = #{clientId}
    </update>
</mapper>