<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.clientOrder.dao.ClientOrderDao">

    <resultMap id="QueryResultMap" type="com.xzsd.app.clientOrder.entity.QueryInfo">
        <result column="order_id" property="orderId"/>
        <result column="order_state" property="orderState"/>
        <collection column="order_id" property="goodsList" javaType="java.util.ArrayList"
                    ofType="com.xzsd.pc.sort.entity.SortInfo" select="getNextNodeTree"/>
    </resultMap>

    <resultMap id="BaseTreeResultMap" type="com.xzsd.app.clientOrder.entity.FirstInfo">
        <result column="order_id" property="orderId"/>
        <result column="order_state" property="orderState"/>
        <collection column="order_id" property="goodsList" javaType="java.util.ArrayList"
                    ofType="com.xzsd.pc.sort.entity.SortInfo" select="getNextNodeTree"/>
    </resultMap>

    <resultMap id="NextTreeResultMap" type="com.xzsd.app.clientOrder.entity.SecondInfo">
        <result column="c_id" property="cId"/>
        <result column="image_path" property="imagePath"/>
        <result column="sell" property="sell"/>
    </resultMap>
    <!--新增订单-->
    <insert id="addOrder" parameterType="java.util.ArrayList">
        <foreach collection="orderList" index="index" item="item" open="" separator=";" close="">
            insert into
                t_order
                (order_id,
                 c_id,
                 num,
                 shop_id,
                 user_id,
                 order_state,
                 affirm_time,
                 version)
            values
                (#{item.orderId},
                 #{item.cId},
                 #{item.goodsCount},
                 #{shopId},
                 #{userId},
                 0,
                 now(),
                 0)
        </foreach>
    </insert>

    <!--清空购物车-->
    <update id="clearCart" parameterType="java.util.List">
        update t_cart
        set is_deleted = 1
        where user_id = #{userId}
        and c_id in
        <foreach collection="cList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    
    <!--修改库存-->
    <update id="inventoryChange" parameterType="java.util.List">
    <foreach collection="goodsList" index="index" item="item" separator=";">
        UPDATE t_commodity a
        SET inventory = inventory - (
        #{item.num}
        )
        WHERE
        a.c_id = #{item.cId}
    </foreach>
    </update>

    <!--增加库存-->
    <update id="inventoryAdd" parameterType="java.util.List">
        <foreach collection="goodsList" index="index" item="item" separator=";">
            UPDATE t_commodity a
            SET inventory = inventory + (
            #{item.num}
            )
            WHERE
            a.c_id = #{item.cId}
        </foreach>
    </update>

    <select id="getNextNodeTree" resultMap="NextTreeResultMap">
    SELECT
	    c_name,
	    image_path,
	    introduce,
	    sell,
	    a.num goodsCount,
	    a.c_id cId
    FROM t_order a LEFT JOIN t_commodity b on a.c_id = b.c_id
    where order_id = #{orderId}
    </select>
    <!--查询列表-->
    <select id="listOrderByPage" parameterType="com.xzsd.app.clientOrder.entity.ClientOrderInfo" resultMap="BaseTreeResultMap">
        SELECT
	    order_id,
	    sum(sell * a.num) orderAllCost,
	    sum(a.num) orderAllGoodsCount,
	    order_state order_state,
	    a.version
    FROM
	    (
		    t_order a
		    LEFT JOIN t_commodity b ON a.c_id = b.c_id
	    )
    LEFT JOIN t_user d ON a.user_id = d.user_code
    WHERE 1=1
    <if test="orderState != null and orderState != ''">
        and order_state = #{orderState}
    </if>
    and user_id = #{userId}
    GROUP BY
	        a.user_id,
	        a.order_id,
			a.order_state,
			a.shop_id,
			a.affirm_time,
			a.version
    </select>

    <!--修改订单状态-->
    <update id="updateOrderState" parameterType="com.xzsd.app.clientOrder.entity.ClientOrderInfo">
        update t_order
        set order_state = #{orderState},
            version = version + 1
        where order_id = #{orderId}
        and version = #{version}
    </update>

    <!--查询订单详情-->
    <select id="listOrderDeepen" parameterType="java.lang.String" resultMap="QueryResultMap">
    SELECT
	d.shop_name,
	address,
	order_id,
	sum(price * a.num) orderAllCost,
	sum(a.num) orderAllGoodsCount,
	order_id
    FROM
	(
		t_order a
		LEFT JOIN t_commodity b ON a.c_id = b.c_id
	)
    LEFT JOIN t_shop d ON a.shop_id = d.shop_id
    WHERE
	order_id = #{orderId}
    GROUP BY
	a.order_id,
	a.shop_id,
	d.shop_name,
	address
    </select>

    <!--查询订单评价商品信息列表-->
    <select id="listGoodsForEvaluate" parameterType="java.lang.String" resultType="com.xzsd.app.clientOrder.entity.ClientOrderInfo">
    SELECT
	    a.c_id cId,
	    b.image_path imagePath
    FROM
	t_order a
        LEFT JOIN t_commodity b ON a.c_id = b.c_id
    WHERE
	    a.order_id = #{orderId}
    </select>
    <!--新增订单评价-->
    <insert id="addGoodsEvaluate" parameterType="java.util.ArrayList">
        <foreach collection="firstList" item="item" index="index" separator=";">
            insert into t_comment
            (c_id,
             info,
             grade,
             user_id,
             gmt_create,
             order_id)
             values
            (#{item.cId},
             #{item.info},
             #{item.grade},
             #{userId},
             now(),
             #{orderId})
        </foreach>
    </insert>
    <!--改变商品星级-->
    <update id="changeGrade">
    UPDATE t_commodity a
        SET grade = (
	SELECT
		AVG(grade)
	FROM
		t_comment b
	WHERE
		a.c_id = b.c_id
    )
    </update>
    
    <!--查询库存-->
    <select id="countInventory" parameterType="java.lang.String" resultType="com.xzsd.app.clientOrder.entity.ClientOrderInfo">
        select
            c_id,
            inventory
        from
            t_commodity
        where
            c_id in
        <foreach collection="cList" index="index" item="cId" open="(" separator="," close=")">
            #{cId}
        </foreach>
    </select>
    
    <!--获取订单商品编号和数量-->
    <select id="orderGoods" parameterType="java.lang.String" resultType="com.xzsd.app.clientOrder.entity.ClientOrderInfo">
    SELECT
	    c_id,
	    num
    FROM
	    t_order
    WHERE order_id = #{orderId}
    </select>

    <!--增加销量-->
    <update id="addNum" parameterType="java.util.List">
        <foreach collection="goodsList" index="index" item="item" separator=";">
            UPDATE t_commodity a
            SET num = num + (
            #{item.num}
            )
            WHERE
            a.c_id = #{item.cId}
        </foreach>
    </update>
</mapper>