<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.client.dao.ClientDao">
    <!--客户列表-->
    <select id="listClientsByPage" parameterType="com.xzsd.pc.client.entity.ClientInfo" resultType="com.xzsd.pc.client.entity.ClientInfo">
        select
        a.client_id clientId,
        a.name
        from t_client a
        <if test="name != null and name != ''">
            and a.name like concat('%', #{clientName}, '%')
        </if>
    </select>
</mapper>