<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">
    <!--新增司机表-->
    <insert id="saveDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into t_driver
            (driver_id,
             province_id,
             city_id,
             region_id,
             version,
             is_deleted)
        values
            (#{driverId},
             #{provinceId},
             #{cityId},
             #{regionId},
             0,
             0)
    </insert>

    <!--将司机添加到用户表中-->
    <insert id="saveUser" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into t_user
            (user_code,
             account,
             user_name,
             id_card,
             phone,
             password,
             role,
             version,
             is_deleted)
        values
            (#{driverId},
             #{account},
             #{driverName},
             #{idCard},
             #{phone},
             #{password},
              2,
              0,
              0)
    </insert>

    <!--修改司机信息-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_driver
        set
             province_id=#{provinceId},
             city_id = #{cityId},
             region_id = #{regionId},
             version = version +1
        where driver_id=#{driverId}
        and version = #{version}
    </update>
    
    <!--修改用户表-->
    <update id="updateUser" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_user
        set
             user_name=#{driverName},
             id_card=#{idCard},
             phone=#{phone},
             account = #{account},
             password = #{password},
             version = version +1
        where user_code=#{driverId}
        and version = #{version}
    </update>

    <!--删除司机-->
    <update id="deleteDriver" parameterType="java.lang.String">
        update t_user
        set is_delete=1
        where user_code=#{driverId}
    </update>
    
    <!--司机列表查询-->
    <select id="listDriverByPage" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        SELECT
        driver_id,
        user_name,
        phone,
        id_card,
        a.version version
        FROM
        t_driver a LEFT JOIN t_user b ON a.driver_id=b.user_code
        WHERE b.is_deleted=0
    <if test="driverId != null and driverId != ''">
        and driver_id like concat ('%',#{driverId},'%')
    </if>
    <if test="driverName != null and driverName != ''">
        and user_name like concat ('%',#{driverName},'%')
    </if>
    <if test="provinceId != null and provinceId != ''">
        and province_id like concat ('%',#{provinceId},'%')
    </if>
    <if test="cityId != null and cityId != ''">
        and city_id like concat ('%',#{cityId},'%')
    </if>
    <if test="regionId != null and regionId != ''">
        and region_id like concat ('%',#{regionId},'%')
    </if>
    </select>
    
    <!--查询司机详情-->
    <select id="queryDriver" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.DriverInfo">
    SELECT
	    driver_id,
	    user_name driver_name,
	    phone,
	    id_card,
	    account,
	    b.`password`,
	    province_id,
	    city_id,
	    region_id
    from
        t_driver a
    LEFT JOIN t_user b ON a.driver_id=b.user_code
    where driver_id=#{driverId}
    </select>
    


</mapper>