<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">
    <!--新增司机表-->
    <insert id="saveDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into t_driver
            (driver_id,
             province_id,
             city_id,
             region_id)
        values
            (#{driverId},
             #{provinceId},
             #{cityId},
             #{regionId})
    </insert>

    <!--将司机添加到用户表中-->
    <insert id="saveUser" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into t_user
            (user_id,
             account,
             user_name,
             id_card,
             phone,
             user_password,
             role)
        values
            (#{driverId},
             #{account}
             #{driverName},
             #{idCard},
             #{phone},
             #{password},
              2)
    </insert>

    <!--修改司机信息-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_driver
        set 
             province_id=#{provinceId},
             city_id=#{cityId},
             region_id=#{regionId}
        where driver_id=#{driverId}
    </update>
    
    <!--修改用户表-->
    <update id="updateUser" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_user
        set
             user_name=#{driverName},
             id_card=#{idCard},
             phone=#{phone},
             user_password=#{password}
        where user_id=#{driverId}
    </update>

    <!--删除司机-->
    <update id="deleteDriver" parameterType="java.lang.String">
        update t_user
        set is_delete=1
        where user_id=#{driverId}
    </update>
    
    <!--司机列表查询-->
    <select id="listDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="com.xzsd.pc.driver.entity.DriverInfo">
    SELECT
	    driver_id,
	    user_name,
	    phone,
	    id_card,
	    user_id
    FROM
	    t_driver a LEFT JOIN t_user b ON a.driver_id=b.user_id
    WHERE b.is_delete=0
    <if test="driverId != null and driverId != ''">
        and driver_id like concat ('%',#{driverId},'%')
    </if>
    <if test="driverName != null and driverName != ''">
        and user_name like concat ('%',#{driverName},'%')
    </if>
    <if test="provinceId != null and provinceId != ''">
        and province_id like concat ('%',#{provinceId},'%')
    </if>
    <if test="cityId != null and cityId != ''">
        and city_id like concat ('%',#{cityId},'%')
    </if>
    <if test="regionId != null and regionId != ''">
        and region_id like concat ('%',#{regionId},'%')
    </if>
    </select>
    
    <!--查询司机详情-->
    <select id="queryDriver" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.DriverInfo">
    SELECT
	    driver_id,
	    user_name driver_name,
	    phone,
	    id_card,
	    account,
	    user_password,
	    province_id,
	    city_id,
	    region_id
    from
        t_driver a
    LEFT JOIN t_user b ON a.driver_id=b.user_id
    where driver_id=#{driverId}
    </select>
    


</mapper>