<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.goods.dao.GoodsDao">


    <!--商品列表-->
    <select id="listGoodsByPage" parameterType="com.xzsd.pc.goods.entity.GoodsInfo" resultType="com.xzsd.pc.goods.entity.GoodsInfo">
        SELECT
        price,
        sell,
        num,
        b. NAME firstClassifyName,
        c. NAME secondClassifyName,
        a.advertising,
        a.introduce,
        a.state,
        a.putaway_time,
        a.browse_num,
        a.shop_name,
        a.inventory,
        a.isbn,
        a.c_id,
        a.version,
        a.image_path
        FROM
        (
        t_commodity a
        LEFT JOIN t_sort b ON a.first_classify_id = b.sort_id
        )
        LEFT JOIN t_sort c ON a.second_classify_id = c.sort_id
        where a.is_deleted = 0
        <if test="cName != null and cName != ''">
            and a.c_name like concat('%', #{cName}, '%')
        </if>
        <if test="state != null and state != ''">
            and a.state like concat('%', #{state}, '%')
        </if>
        <if test="advertising != null and advertising != ''">
            and a.advertising like concat('%', #{advertising}, '%')
        </if>
        <if test="author != null and author != ''">
            and a.author like concat('%', #{author}, '%')
        </if>
        <if test="publish != null and publish != ''">
            and a.publish like concat('%', #{publish}, '%')
        </if>
    </select>

    <!--新增商品-->
    <insert id="saveGoods" parameterType="com.xzsd.pc.goods.entity.GoodsInfo">
        insert into t_commodity
        (c_id,
         isbn,
         c_name,
         image_path,
         publish,
         state,
         price,
         sell,
         num,
         first_classify_id,
         second_classify_id,
         advertising,
         introduce,
         inventory,
         author,
         version,
         is_deleted)
        values
            (#{cId},
             #{isbn},
             #{cName},
             #{imagePath},
             #{publish},
             1,
             #{price},
             #{sell},
             #{num},
             #{firstClassifyId},
             #{secondClassifyId},
             #{advertising},
             #{introduce},
             #{inventory},
             #{author},
             0,
             0)
    </insert>
    <!--查找商品-->
    <select id="queryGoods" parameterType="java.lang.String" resultType="com.xzsd.pc.goods.entity.GoodsInfo">
        SELECT
        a.c_id,
        a.c_name cName,
        a.publish,
        a.state,
        a.price,
        a.sell,
        a.num,
        a.first_classify_id firstClassifyId,
        b. NAME firstClassifyName,
        a.second_classify_id secondClassifyId,
        c. NAME secondClassifyName,
        a.advertising,
        a.introduce,
        a.inventory,
        a.author,
        a.image_path,
        a.isbn
        FROM
        (
        t_commodity a
        LEFT JOIN t_sort b ON a.first_classify_id = b.sort_id
        )
        LEFT JOIN t_sort c ON a.second_classify_id = c.sort_id
        where c_id=#{cId}
    </select>
    <!--删除商品-->
    <update id="deleteGoods" parameterType="com.xzsd.pc.goods.entity.GoodsInfo">
        update t_commodity
        set
            is_deleted=1
        where c_id in
        <foreach item="cId" index="index" collection="codeList" open="(" separator="," close=")">
            #{cId}
        </foreach>
    </update>

    <!--书号查询-->
    <select id="countIsbn" parameterType="java.lang.String" resultType="int">
        select
            count(*)
        from
            t_commodity
        where isbn=#{isbn}
    </select>

    <!--修改商品-->
    <update id="updateGoods" parameterType="com.xzsd.pc.goods.entity.GoodsInfo">
        update
            t_commodity
        set
            c_name = #{cName},
            isbn = #{isbn},
            image_path = #{imagePath},
            publish = #{publish},
            state = #{state},
            price = #{price},
            sell = #{sell},
            num = #{num},
            first_classify = #{firstClassify},
            second_classify = #{secondClassify},
            advertising = #{advertising},
            introduce = #{introduce},
            author = #{author}
        where c_id = #{cId}
        and version = #{version}
    </update>

    <!--商品编号数量-->
    <select id="countCid" parameterType="java.lang.String" resultType="int">
        select
            count(*)
        from
            t_commodity
        where cId = #{cId}
    </select>

    <!--商品分类下拉接口-->
    <select id="listGoodsClassify" parameterType="java.lang.String" resultType="com.xzsd.pc.sort.entity.SortInfo">
        select
            sort_id,
            name
        from t_sort
        where parent_id = #{sortId}
    </select>

    <!--商品状态修改-->
    <update id="goodsState" parameterType="com.xzsd.pc.goods.entity.GoodsInfo">
        update
            t_commodity
        set
            state = #{state},
            version = version +1
        where c_id in
        <foreach collection="idList" item="cId" index="index" open="(" separator="," close=")">
            #{cId}
        </foreach>
    </update>


</mapper>