<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.HotGoods.dao.HotGoodsDao">
    <insert id="saveHotGoods" parameterType="com.xzsd.pc.HotGoods.entity.HotGoodsInfo">
        insert into t_hot_goods
            (h_id,
             c_id,
             sort)
         values
            (#{hId},
             #{cId},
             #{sort})
    </insert>


    <update id="updateHotGoods" parameterType="com.xzsd.pc.HotGoods.entity.HotGoodsInfo">
        update t_hot_goods
        set
            c_id=#{cId},
            sort=#{sort}
        where h_id=#{hId}
    </update>


</mapper>