<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.scroll.dao.ScrollDao">

    <!--轮播图列表-->
    <select id="listScrollByPage" parameterType="com.xzsd.pc.scroll.entity.ScrollInfo" resultType="com.xzsd.pc.scroll.entity.ScrollInfo">
        select
            p_id,
            sort,
            image_path imagePath,
            state,
            begin,
            end,
            version
        from t_scroll
        where is_deleted = 0
        <if test="state != null and state != '' ">
            and state = #{state}
        </if>
    </select>

    <!--删除轮播图-->
    <update id="deleteScroll" parameterType="com.xzsd.pc.scroll.entity.ScrollInfo">
        update
            t_scroll
        set is_deleted=1
        where p_id in
        <foreach index="index" item="Pid" collection="scrollList" open="(" separator="," close=")">
            #{Pid}
        </foreach>
    </update>

    <!--商品启用/停用接口-->
    <update id="stateGoods" parameterType="com.xzsd.pc.scroll.entity.ScrollInfo">
        update
            t_scroll
        set state=#{state}
        where p_id=#{pId}
    </update>

    <!--新增轮播图-->
    <insert id="saveScroll" parameterType="com.xzsd.pc.scroll.entity.ScrollInfo">
        insert into
            t_scroll
                (p_id,
                 c_id,
                 image_path,
                 sort,
                 begin,
                 end,
                 state,
                 version,
                 is_deleted,
                 gmt_create,
                 create_by,
                 gmt_modified,
                 last_modified_by)
         values
         (#{pId},
          #{cId},
          #{imagePath},
          #{sort},
          #{begin},
          #{end},
          #{state},
          0,
          0,
          now(),
          #{createBy},
          now(),
          #{createBy})
    </insert>
    <!--查询商品-->
    <select id="listGoodsByPage" parameterType="com.xzsd.pc.goods.entity.GoodsInfo" resultType="com.xzsd.pc.goods.entity.GoodsInfo">
        SELECT
        c_id,
        c_name,
        state,
        b.name firstClassifyName,
        c.name secondClassifyName
        FROM
        (t_commodity a LEFT JOIN t_sort b ON a.first_classify_id = b.sort_id)
        LEFT JOIN t_sort c ON a.second_classify_id = c.sort_id
        WHERE
        a.is_deleted = 0
        <if test="cName != null and cName !=''">
            and c_name = #{cName}
        </if>
        <if test="cId != null and cId !=''">
            and c_id = #{cId}
        </if>
    </select>

    <!--修改轮播图状态-->
    <update id="stateScroll" parameterType="java.util.List">
        <foreach collection="listUpdate" item="item" index="index" open="" separator=";" close=";">
            update t_scroll
            set
            state = #{state},
            version = version + 1,
            gmt_modified = now(),
            last_modified_by = #{createBy}
            where
            p_id = #{item.pId} and
            version = #{item.version}
        </foreach>
    </update>
    <!--查询相同商品数量-->
    <select id="countGoods" parameterType="java.lang.String" resultType="int">
        select
            count(*)
        from t_scroll
        where c_id = #{cId}
    </select>

</mapper>