<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.sort.dao.SortDao">

    <resultMap id="BaseTreeResultMap" type="com.xzsd.pc.sort.entity.SortInfo">
        <result column="parent_id" property="parentId"/>
        <result column="sort_id" property="sortId"/>
        <result column="remark" property="remark"/>
        <result column="name" property="name"/>
        <collection column="sort_id" property="secondSort" javaType="java.util.ArrayList"
                    ofType="com.xzsd.pc.sort.entity.SortInfo" select="getNextNodeTree"/>
    </resultMap>

    <resultMap id="NextTreeResultMap" type="com.xzsd.pc.sort.entity.SortInfo">
        <result column="parent_id" property="parentId"/>
        <result column="sort_id" property="sortId"/>
        <result column="remark" property="remark"/>
        <result column="name" property="name"/>
<!--        <collection column="sort_id" property="secondSort" javaType="java.util.ArrayList"-->
<!--                    ofType="com.xzsd.pc.sort.entity.SortInfo" select="getNextNodeTree"/>-->
    </resultMap>
    <!--分类查询-->
    <select id="getNextNodeTree" resultMap="NextTreeResultMap">
        SELECT
        sort_id,
        parent_id,
        remark,
        name
        FROM t_sort
        WHERE parent_id = #{sortId}
        and is_deleted = 0
    </select>

    <select id="getNodeTree" resultMap="BaseTreeResultMap">
        SELECT
        sort_id,
        parent_id,
        remark,
        name
        FROM t_sort
        WHERE parent_id = 0
        and is_deleted = 0
    </select>

    <!--新增分类-->
    <insert id="saveSort" parameterType="com.xzsd.pc.sort.entity.SortInfo">
        insert into t_sort
            (name,
             sort_id,
             parent_id,
             is_deleted,
             gmt_create,
             create_by,
             gmt_modified,
             last_modified_by)
        values
            (#{name},
             #{sortId},
             #{parentId},
             0,
             now(),
             #{createBy},
             now(),
             #{createBy})
    </insert>

    <!--更新分类-->
    <update id="updateSort" parameterType="com.xzsd.pc.sort.entity.SortInfo">
        update t_sort
        set
            name=#{name},
            parent_id=#{parentId},
            remark = #{remark},
            gmt_modified = now(),
            last_modified_by = #{createBy}
        where sort_id=#{sortId}
    </update>
    
    <!--删除分类-->
    <update id="deleteSort" parameterType="java.lang.String">
        update t_sort
        set is_deleted = 1
        where sort_id = #{sortId}
    </update>

    <!--查询子项数量-->
    <select id="countSort" parameterType="java.lang.String" resultType="int">
        select
            count(*)
        from t_sort
        where parent_id = #{sortId}
        and is_deleted = 0
    </select>

    <!--分类详情-->
    <select id="querySort" parameterType="java.lang.String" resultType="com.xzsd.pc.sort.entity.SortInfo">
        select
            name,
            remark
        from t_sort
        where sort_id = #{sortId}
    </select>

</mapper>