<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.topOfColumn.dao.TopOfColumnDao">
    <!--客户列表-->
    <select id="getTopOfColumn" parameterType="java.lang.String" resultType="com.xzsd.pc.topOfColumn.entity.TopOfColumnInfo">
        select
            user_name,
            image_path imagePath,
            user_code userId,
            role
        from t_user
        where user_code = #{userId}
    </select>
</mapper>