<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.user.dao.UserDao">

    <!--查找相同账号数量-->
    <select id="countAcc" parameterType="java.lang.String" resultType="int">
        select
            count(*)
        from t_user
        where account=#{account}
    </select>

    <!--新增用户-->
    <insert id="saveUser" parameterType="com.xzsd.pc.user.entity.UserInfo">
        insert into t_user
        (user_code,
         user_name,
         account,
         password,
         image_path,
         sex,
         phone,
         email,
         id_card,
         role,
         is_deleted,
         gmt_create,
         create_by,
         gmt_modified,
         last_modified_by,
         version)
        values
            (#{userId},
             #{userName},
             #{account},
             #{userPassword},
             #{imagePath},
             #{sex},
             #{phone},
             #{email},
             #{idCard},
             #{role},
             0,
             now(),
             #{createBy},
             now(),
             #{lastModifiedBy},
             0)
    </insert>

    <!--获取用户信息-->
    <select id="getUserByUserCode" parameterType="java.lang.String" resultType="com.xzsd.pc.user.entity.UserInfo">
        select
            user_code userId,
            user_name userName,
            password userPassword,
            name,
            sex,
            phone,
            account,
            email,
            id_card idCard,
            role,
            version
        from t_user
        where user_code=#{userId}
    </select>
    <!--更新用户信息-->
    <update id="updateUser" parameterType="com.xzsd.pc.user.entity.UserInfo">
        update t_user
        set
            user_name = #{userName},
            password = #{userPassword},
            image_path = #{imagePath},
            account = #{account},
            name = #{name},
            sex = #{sex},
            phone = #{phone},
            email = #{email},
            id_card = #{idCard},
            role = #{role},
            version = version + 1
        where user_code=#{userId}
        and version = #{version}
    </update>

    <!--删除用户信息-->
    <update id="deleteUser" parameterType="com.xzsd.pc.user.entity.UserInfo">
        update t_user
        set
            is_deleted=1,
            user_name = #{userName}
        where user_code in
        <foreach  item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


    <!--用户列表-->
    <select id="listUsersByPage" parameterType="java.lang.String" resultType="com.xzsd.pc.user.entity.UserInfo">
        select
            account,
            user_name userName,
            role,
            email,
            sex,
            phone,
            id_card,
            password userPassword,
            user_code userId,
            version
        from t_user a
        where a.is_deleted = 0
        <if test="userName != null and userName != ''">
            and a.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="userId != null and userId != ''">
            and a.user_code like concat('%', #{userId}, '%')
        </if>
        <if test="role != null and role != ''">
            and a.role like concat('%', #{role}, '%')
        </if>
        <if test="account != null and account != ''">
            and a.account like concat('%', #{account}, '%')
        </if>
        order by gmt_create desc
    </select>

    <!--获取用户权限-->



</mapper>